* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background: black;
}

.mainContent{
    display: flex;
    width: 95%;
    height: 100vh;
    margin: auto;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: 5px solid rgb(255, 119, 0);
    margin:auto;
    /* justify-content: center; */
    background-color: antiquewhite;
    box-shadow: 10px 5px 17px white,
    3px 3px 5px white;
}


h1{
    display: flex;
    margin: 20px 0;
    font-size: 3rem;
    color: rgb(139, 76, 0);
}

.content{
    display: flex;
    margin: 40px 0;
    /* border: 2px solid black; */
    flex-wrap: wrap;
}

#btn {
    display: flex;
    margin: 0 20px 0 15px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 50%;
    background: transparent;
    transition: 0.5s;
    /* outline: none; */
    /* border: none; */
}

#btn:hover {
    background-color: rgb(255, 176, 48);
    cursor: pointer;
}

#btn img {
    display: flex;
    width: 60px;
}

.btn4{
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: rgb(221, 137, 27);
    color: white;
    transition: 0.5s;
    border: 2px solid white;
    font-weight: 900;
    letter-spacing: 1px;
}

.btn4:hover{
    border: 2px solid black;
    cursor: pointer;
    background:white;
    color: rgb(221, 137, 27);
}

.rds{
    display: flex;
    width: 90%;
    margin: 10px;
    height: 30%;
    padding: 10px;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.score{
    background-color: rgb(246, 159, 54);
    padding: 4px 8px;
    border: 1px solid black;

}

.display{
    display: block;
    width: 90%;
    height: 50%;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
}

.display img{
    width: 30px;
    margin: 0 20px;
}

#result{
    display: flex;
    margin: 10px 0;
}

@media only screen and (max-width: 714px){
    h1{
        font-size: 1.9rem;
    }

    .score{
 font-size: 1rem;
}
}

@media only screen and (max-width: 417px){
    #btn img {
    display: flex;
    width: 30px;
}
.score{
    background-color: rgb(246, 159, 54);
    padding: 4px 2px;
    border: 1px solid black;

}

.display{
    display: block;
    width: 90%;
    height: 50%;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.display img{
    width: 25px;
    margin: 0 15px;
}
}